/* ==========================================================================
   Base
   ========================================================================== */

body {background: #efefef;font-family: "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;}

a { color: #2b8dc0; }

a:hover { color: black; text-decoration: none;}

h1, h2 {font-weight: normal;}

::selection, ::-moz-selection { background: #2b8dc0;  color: white; /* Safari */}

body {padding: 0 10px;}
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top { margin-right: -10px; margin-left: -10px; }

.row { margin: 0; }
.span12, .span8 {margin: 0;}
/* =============================================================================
   Header
   ========================================================================== */

#banner {}

#banner a.brand { text-indent: -1000px; background: url(../img/logo-nav.png) no-repeat left center; background-size: 124px 40px; margin: 0; width: 124px;}

.navbar-inner {filter: 0;}

.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.2);
	-moz-box-shadow:    0 1px 10px rgba(0,0,0,0.2);
	box-shadow:         0 1px 10px rgba(0,0,0,0.2);
	background: white;
}

.navbar .nav {float: right;}

/* Fixed Topbar Navigation */
.top-navbar { padding-top: 41px; }
.admin-bar .navbar-fixed-top { top: 28px; }

.navbar .btn-navbar {margin-right: 0;}

.navbar .brand {color: black; }

#nav-icon {float: right; margin: 0; padding: 0;}
#nav-icon li {float: left; list-style-type: none;} 
#nav-icon a {display: block; text-indent: -9999px; width: 40px; line-height: 40px; background: url(../img/SearchAndRSS.jpg) no-repeat;  background-size: 40px 160px;}
#nav-icon a#search-icon {cursor: pointer;}
#nav-icon a#search-icon:hover {background-position: 0 -80px;}
#nav-icon a#feed-icon {background-position: 0 -40px;}
#nav-icon a#feed-icon:hover {background-position: 0 -120px;}


/* ==========================================================================
   Content
   ========================================================================== */
#content { }
form#searchform {margin: 0; text-align: center; margin-top: 50px; display: none;}
/* ==========================================================================
   Primary Content
   ========================================================================== */
 { padding-top: 60px; }
#main .page-header { margin: 20px; padding: 0; text-align: center; }
.home #main,
.single #main,
.page-template-template-archives-php #main,
.page-template-page-about-php #main {padding-top: 60px;}
/* ==========================================================================
   Post Base
   ========================================================================== */
.post {
	position: relative;
	margin: 0 0 50px 0;
	background: white;
	overflow-y: hidden;
	-webkit-box-shadow:  0 0 3px 3px rgba(0,0,0,0.07);
	-moz-box-shadow:     0 0 3px 3px rgba(0,0,0,0.07);
	box-shadow:          0 0 3px 3px rgba(0,0,0,0.07);	
}

.post h2 {
	line-height: 40px;
	margin: 0 0 10px 0;
}

.post h2 a {display: block;}

.post .entry-author {}

.post .entry-meta {
	float: left;
	width: 60px;
	display: block;
	padding-top: 20px;
	color: black;
}

.post .entry-meta p {
	font-size: 30px;
	text-align: center;
}

.post .entry-meta p.entry-year {
	font-size: 15px;
	padding-top: 15px;
	font-weight: bold;
}

.post .entry-meta p.entry-comment-number {
	background: url(../img/comment.jpg) no-repeat;
	height: 60px;
	width: 60px;
	line-height: 60px;
	font-size: 15px;
	position: absolute;
	bottom: 0;
	margin: 0;
}

.post .entry-thumbnail {float: left;}


.post .entry-content {
	padding: 20px;
	padding-top: 15px;
	color: #888;
	float: right; 
}

.post .entry-footer { position: absolute;bottom: 0; }

.post .entry-tags {margin: 0;}
.post .entry-tags li { float: left;list-style-type: none; }
.post .entry-tags li a { display: block; padding: 10px 10px 10px 0; }

/* ==========================================================================
   Home
   ========================================================================== */

.home #main .page-header {display: none;}

/* ==========================================================================
   single post
   ========================================================================== */
.single .post {
	-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0);
	-moz-box-shadow:    0 0 3px 3px rgba(0,0,0,0);
	box-shadow:         0 0 3px 3px rgba(0,0,0,0);	
	background: transparent;	
	overflow-y: visible;
	position: relative;
}
.single  .entry-header {
	position: relative;
	padding: 20px;
	padding-bottom: 0;
}

.single .entry-comment-number {
	position: absolute;
	background: url(../img/comment.jpg) no-repeat;
	height: 60px;
	width: 60px;
	line-height: 60px;
	font-size: 15px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	text-align: center;	
}

.single .entry-comment-number a {width: 60px; height: 60px; display: block; cursor: pointer;}
.single  h1 {
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
	font-size: 31.5px;
}

.single .post .entry-single-meta {text-align: center;}

.single .post .entry-content {padding: 20px 0; float: none;}

.single  .entry-header,
.single .entry-image {
	background: white;
	margin-bottom: 50px;
	overflow-y: hidden;
	position: relative;
	-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.07);
	-moz-box-shadow:    0 0 3px 3px rgba(0,0,0,0.07);
	box-shadow:         0 0 3px 3px rgba(0,0,0,0.07);		
}

.single .entry-image p { margin: 10px 20px; }

.single .post .entry-footer { position: relative; }

.single .post .entry-tags {
	float: none;
	display: block;
	overflow: hidden;
	border-top: 1px solid #ddd;
}

/*============ load more ==============*/
#load-more {
	display: none;
	background: white;	
	-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.07);
	-moz-box-shadow:    0 0 3px 3px rgba(0,0,0,0.07);
	box-shadow:         0 0 3px 3px rgba(0,0,0,0.07);	
	cursor: pointer;
}

#load-more a {cursor: pointer; display: block; padding: 15px; text-align: right;background: url(../img/load-more.png) no-repeat center center; background-size: 25px 25px;}
#load-more a span {font-size: 20px; color: black; padding-right: 15px;}

#load-more a.active {background: url(../img/loader.gif) no-repeat center center; background-size: 25px 25px;}


/* ==========================================================================
   archive
   ========================================================================== */

 .archive #main,
 .search  #main { padding-top: 0; padding: 0; margin: 0; }
 .archive #main h1,
 .search  #main h1 {margin: 0;} 

.archive .post h2,
.search  .post h2 {font-size: 30px; line-height: 30px}

.archive .post .entry-meta p.entry-comment-number,
.search  .post .entry-meta p.entry-comment-number {bottom: 0;right: 0;}

.archive .post .entry-meta p.entry-year,
.search  .post .entry-meta p.entry-year { position: absolute; bottom: 0; width: 60px; }

.archive .post .entry-footer,
.search  .post .entry-footer {position: relative;}


/* ==========================================================================
   archives template
   ========================================================================== */
.archives-month {
	background: url(../img/archives-bg.png);
	margin-bottom: 50px;
	overflow-y: hidden;
	position: relative;
	-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.07);
	-moz-box-shadow:    0 0 3px 3px rgba(0,0,0,0.07);
	box-shadow:         0 0 3px 3px rgba(0,0,0,0.07);		
}

.archives-month h2 {background: white; padding: 10px; line-height: 31.5px;margin: 0;}
.archives-thumbnail {float: left; width: 25%;}
.archives-thumbnail img {width: 100%;}
.archives-thumbnail a {display: block; position: relative;}
.archives-thumbnail h3 {display: none; position: absolute; bottom: 0; margin: 0;font-size: 15px; line-height: 15px; width: 100%; text-align: center; padding: 10px 0;background: rgba(0, 0, 0, 0.5	); color: white; font-weight: normal;}
/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry p.byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

#content-info { }
#content-info p {
	text-align: center;
	padding: 20px;
	margin: 20px 0 0 0;
	color: #aaa;
	text-shadow: 0 1px 0 #fff;
}


/* ==========================================================================
	Author list
   ========================================================================== */
.author-list {
	background: white;
	margin-bottom: 50px;
	padding: 20px;
	overflow-y: hidden;
	position: relative;
	-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.07);
	-moz-box-shadow:    0 0 3px 3px rgba(0,0,0,0.07);
	box-shadow:         0 0 3px 3px rgba(0,0,0,0.07);	
}

.author-list img {margin-right: 20px;}

.author-list h2 {margin: 0 0 20px 0; padding-bottom: 20px; font-size: 20px; border-bottom: 1px solid #ddd;}

.author-list h2 a {
	float: right;
}
/* ==========================================================================
	About Me
   ========================================================================== */
#about-me {
	background: white;
	-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.07);
	-moz-box-shadow:    0 0 3px 3px rgba(0,0,0,0.07);
	box-shadow:         0 0 3px 3px rgba(0,0,0,0.07);	
	padding: 30px;	
	margin-bottom: 50px;
}
#about-me h1 { text-align: center; font-size: 31.5px; margin: 0 0 50px 0;}

#about-me p {text-align: center;}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (min-width: 1200px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, #main, .span8 {width: 1000px;}

	.home .post div.entry-content {width: 300px;}

	.archive .post div.entry-content,
	.search  .post div.entry-content {width: 600px;}
	.archive .post .entry-thumbnail,
	.search  .post .entry-thumbnail {width: 300px;}
}

/* ==========================================================================
   >980
   ========================================================================== */

@media screen and (min-width: 980px) {
	.span8 {width: 940px; float: none;}

	.home    .post .entry-content {width: 240px;}

	.archive .post .entry-content,
	.search  .post .entry-content {width: 540px;}
	.archive .post .entry-thumbnail,
	.search  .post .entry-thumbnail {width: 300px;}
	.archive .post .entry-content,
	.search  .post .entry-content {float: right;}
}

/* ==========================================================================

   ========================================================================== */

@media (max-width: 979px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, #main { width: 600px;}

	#nav-icon {display: none;}
	
  	/* Fix top padding when using the responsive grid with the fixed topbar */
  	.navbar-fixed-top {margin-bottom: 0;}
  	.top-navbar {padding-top: 0;}
  	.archive .page-header,
  	.search  .page-header  {margin: 0 0 20px 0;}
  	.page-header {font-size: 30px}
    .archive .post h2,
    .search  .post h2 {font-size: 20px}

    .archive .post .entry-meta p.entry-year,
    .search  .post .entry-meta p.entry-year{position: relative;}

	#banner a.brand {float: none; width: 214px; margin: 0 auto; background-position: center center;}
	.navbar .nav {float: none; }

	.navbar .nav  li  a {text-align: center;}
	.post {margin-bottom: 20px;}
	.post .entry-thumbnail {float: none;}
	.post h2 {font-size: 20px; line-height: 20px;}
	.post .entry-meta {float: none; height: 30px; width: 100%; line-height: 30px; padding:0px;}
	.post .entry-meta p {float: left; margin: 0; font-size: 15px;}
	.post .entry-meta p.entry-month {padding-left: 15px;}
	.post .entry-meta p.entry-year {font-size: 15px; padding: 0; font-weight: normal;padding-left: 5px; }
	.post .entry-meta p.entry-comment-number {line-height: 30px; padding-left: 25px;font-size: 15px; top: 0; right: 0; background-size: 30px 30px; height: 30px; width: 30px;}
	.post .entry-content {float: none; padding-top: 20px;}
	.post .entry-footer {position: relative; overflow: hidden; margin-top: 10px;}
	.post .entry-footer ul.entry-tags {overflow: hidden;border-top: 1px solid #ddd;}
	.single  h1 {font-size: 20px;}
	/*duoshuo*/
	#ds-thread #ds-reset .ds-post-self:hover a.ds-post-report,
	#ds-thread #ds-reset .ds-post-self:hover a.ds-post-delete, 
	#ds-thread .ds-toolbar-buttons,
	#ds-thread .ds-sync{display: none;}

}

@media (max-width: 640px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, #main { width: 100%;}
	.archive .page-header,
	.search  .page-header {margin: 0 0 20px 0;}
	.navbar .btn-navbar {margin-right: 10px;}
	.post img {width: 100%;}
	.archives-thumbnail {width: 50%;}
}

/* ==========================================================================
   Duoshuo
   ========================================================================= */
 .ds-thread {
 	background: white;
 	padding: 5px 20px 20px 20px;
 	margin-bottom: 50px;
	-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.07);
	-moz-box-shadow:    0 0 3px 3px rgba(0,0,0,0.07);
	box-shadow:         0 0 3px 3px rgba(0,0,0,0.07);	
 }
.ds-powered-by, .ds-sort, .ds-login-buttons {display: none; }
.ds-meta, .ds-comments-tabs {text-align: center;}


/* ==========================================================================
   IE
   ========================================================================== */
/* border bottom for lt ie 9*/
.lt-ie9 .post,
.lt-ie9 #load-more a,
.lt-ie9 .single .entry-header,
.lt-ie9 .single .entry-image,
.lt-ie9 .author-list,
.lt-ie9 .ds-thread,
.lt-ie9 #about-me {
	border-bottom: 1px solid #d4d4d4;
}

.lt-ie9 .single .post {border: none;}

.lt-ie9 .container, .lt-ie9 #main {width: 1000px;}
.lt-ie9 .home .post div.entry-content {width: 300px;}

.ie #banner a.brand {width: 141px; background: url(../img/logo-nav-lt-ie9.png) no-repeat left center;}
.ie #nav-icon a {background: url(../img/SearchAndRSS-lt-ie9.png) no-repeat top center;}
.lt-ie9 .archive .post div.entry-content,
.lt-ie9 .search  .post div.entry-content {width: 600px;}
.lt-ie9 .archive .post .entry-thumbnail,
.lt-ie9 .search  .post .entry-thumbnail {width: 300px;}
.lt-ie9 #load-more a {float:left; width: 1000px; padding: 15px 0; cursor: pointer; background: white url(../img/load-more-lt-ie9.png) no-repeat center center;}
.it-ie9 #load-more a.active {background: white url(../img/loader-lt-ie9.gif) no-repeat center center;}
.lt-ie9 #load-more a span { padding-right: 15px;}

.lt-ie7 .top-navbar { padding-top: 0px;}
.lt-ie7 .alert { margin: 0 -10px; text-align: center;}
.lt-ie7 ul.nav { float: right;}
.lt-ie7 ul.nav li { float: left; line-height: 40px; }
.lt-ie7 .home .post {height: 400px;}
.lt-ie7 .post .entry-thumbnail { width: 600px; height: 400;}
.lt-ie7 .post .entry-meta {background: white;}

.lt-ie7 .archives-month {overflow: hidden; float: left; width: 1000px;}
.lt-ie7 .archives-thumbnail {position: relative;}
.lt-ie7 .archives-thumbnail img {width: 250px; height: 167px;}


.lt-ie7 .single .post .entry-image p {position: relative; margin: 0; padding: 10px 20px;}
.lt-ie7 .single .post .entry-header .entry-footer {float: left; display: block; position: relative;}

.lt-ie7 .navbar .nav  li  a { float: none;display: block;color: #777;text-decoration: none;padding: 0 15px;}
.lt-ie7 .navbar .nav  li  a:hover { color: #555;text-decoration: none;}