/* ==========================================================================
   Base
   ========================================================================== */

body {
	background: #efefef;
}

a {
	color: black;
}

a:hover {
	color: black;
}

/* =============================================================================
   Header
   ========================================================================== */

#banner { }

#banner a.brand {
	text-indent: -1000px;
	background: url(../img/logo.jpg) no-repeat center center;
	background-size: 72px 40px;
	margin: 0;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	background: white;

}

.navbar-inner {
	filter: 0;
}
/* Fixed Topbar Navigation */
body.top-navbar { padding-top: 60px; }
body.admin-bar .navbar-fixed-top { top: 28px; }

.navbar .brand {
	color: black;
}




/* ==========================================================================
   Content
   ========================================================================== */

#content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

#main {}
article.post {
	background: white;
	margin-bottom: 50px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.07);
	-moz-box-shadow:    0 0 2px 2px rgba(0,0,0,0.07);
	box-shadow:         0 0 2px 2px rgba(0,0,0,0.07);	
	overflow-y: hidden;
	position: relative;
}

article.post h2 {
	line-height: 40px;
	margin: 0 0 30px 0;
}

article.post h2 a {display: block;}

article.post .entry-meta {
	float: left;
	width: 60px;
	display: block;
	padding-top: 20px;
}

article.post .entry-meta p {
	font-size: 30px;
	text-align: center;
}

article.post .entry-meta p.entry-year {
	font-size: 15px;
	padding-top: 15px;
	font-weight: bold;
}

article.post .entry-meta p.entry-comment-number {
	background: url(../img/comment.jpg) no-repeat;
	height: 60px;
	width: 60px;
	line-height: 60px;
	font-size: 15px;
	position: absolute;
	bottom: 0;
	margin: 0;
}

article.post .entry-thumbnail {
	float: left;
}

article.post .entry-content {
	float: right;
	padding: 20px;
	padding-top: 15px;
}

article.post .entry-footer {
	position: absolute;
	bottom: 0;
}

article.post .entry-tags {
	margin: 0;
}

article.post .entry-tags li {
	float: left;
	display: block;
	padding: 10px 10px 10px 0;
	list-style-type: none;
}

/*============ load more ==============*/
#load-more {
	background: white;	
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.07);
	-moz-box-shadow:    0 0 2px 2px rgba(0,0,0,0.07);
	box-shadow:         0 0 2px 2px rgba(0,0,0,0.07);	
}

#load-more a {display: block; padding: 15px; text-align: center;}
#load-more a:hover {cursor: pointer;}



/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry p.byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

#content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 1200px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, #main {
		width: 1000px;
	}
	article.post div.entry-content #load-more{
		width: 300px;
	}

}


@media (min-width: 980px) {
	.navbar .nav {
		float: right;
		margin: 0;
	}

	.navbar .nav  li  a {
		color: black;
		padding: 10px 0 10px 20px;
	}

	article.post .entry-content {width: 240px;}

}

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }

	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, #main {
		width: 600px;
	}

	body.home .page-header {display: none;}
	#banner a.brand {float: none; width: 72px; margin: 0 auto;}
	.navbar .nav  li  a {text-align: center;}
	article.post .entry-thumbnail {float: none;}
	article.post h2 {font-size: 20px; line-height: 20px;}
	article.post .entry-thumbnail {float: none;}
	article.post .entry-meta {float: none; height: 30px; width: 100%; line-height: 30px; padding:0px;}
	article.post .entry-meta p {float: left; margin: 0; font-size: 15px;}
	article.post .entry-meta p.entry-month {padding-left: 15px;}
	article.post .entry-meta p.entry-year {font-size: 15px; padding: 0; font-weight: normal;padding-left: 20px; color: #777;}
	article.post .entry-meta p.entry-comment-number {line-height: 30px; padding-left: 25px;font-size: 15px; top: 0; right: 0; background-size: 30px 30px; height: 30px; width: 30px;}
	article.post .entry-content {float: none; padding-top: 20px;}
	article.post .entry-footer {position: relative; overflow: hidden; }
	article.post .entry-footer ul.entry-tags {overflow: hidden;border-top: 1px solid #ddd;}

}

@media (max-width: 640px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, #main {
		width: 100%;
	}
}

/* ==========================================================================
   IE
   ========================================================================== */
.lt-ie9 .container, .lt-ie9 #main{width: 1000px;}
.lt-ie7 body.top-navbar { padding-top: 0px;}
.lt-ie7 .alert { margin: 0;}
.lt-ie7 ul.nav { float: right;}
.lt-ie7 ul.nav li { float: left; line-height: 40px; padding-left: 20px; }
.lt-ie7 .post {height: 400px;}
.lt-ie7 .post .entry-thumbnail { width: 600px; height: 400;}
.lt-ie7 .post .entry-meta {background: white;}