/* ==========================================================================
   Base
   ========================================================================== */

body {
	background: #efefef;
}

a {
	color: black;
}

a:hover {
	color: black;
}

/* =============================================================================
   Header
   ========================================================================== */

#banner { }
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0.1);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	background: white;

}

.navbar-inner {
	filter: 0;
}
/* Fixed Topbar Navigation */
body.top-navbar { padding-top: 60px; }
body.admin-bar .navbar-fixed-top { top: 28px; }

.navbar .brand {
	color: black;
}

.navbar .nav > li > a {
	color: black;
}


/* ==========================================================================
   Content
   ========================================================================== */

#content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

#main {}
article.post {
	background: white;
	margin-bottom: 50px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.07);
	-moz-box-shadow:    0 0 2px 2px rgba(0,0,0,0.07);
	box-shadow:         0 0 2px 2px rgba(0,0,0,0.07);	
	overflow-y: hidden;
	position: relative;
}

article.post h2 {
	line-height: 31.5px;
	margin: 0 0 30px 0;
}

article.post .entry-meta {
	float: left;
	width: 60px;
	display: block;
	padding-top: 20px;
}

article.post .entry-meta p {
	font-size: 30px;
	text-align: center;
}

article.post .entry-meta p.entry-year {
	font-size: 15px;
	padding-top: 15px;
	font-weight: bold;
}

article.post .entry-meta p.entry-comment-number {
	background: url(../img/comment.jpg);
	height: 60px;
	width: 60px;
	line-height: 60px;
	font-size: 15px;
	position: absolute;
	bottom: 0;
	margin: 0;
}

article.post .entry-thumbnail {
	float: left;
}

article.post .entry-content {
	float: right;
	width: 300px;
	padding: 20px;
}



/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry p.byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

#content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 1200px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, #main {
	width: 1000px;
	}
}

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}

/* ==========================================================================
   IE
   ========================================================================== */
.lt-ie9 .container, .lt-ie9 #main{width: 1000px;}
.lt-ie7 body.top-navbar { padding-top: 0px;}
.lt-ie7 .alert { margin: 0;}
.lt-ie7 ul.nav { float: right;}
.lt-ie7 ul.nav li { float: left; line-height: 40px; padding-left: 20px; }
.lt-ie7 .post {height: 400px;}
.lt-ie7 .post .entry-thumbnail { width: 600px; height: 400;}
.lt-ie7 .post .entry-meta {background: white;}