/* reset */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}



ol, ul {
	list-style: none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	
	
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


body {


-webkit-font-smoothing: subpixel-antialiased;
text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

color: #666; 

font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;

line-height:19px;

font-size: 12px; 

}
p {
margin-bottom:21px;
font-size: 100%; 
line-height:19px;
text-rendering: optimizeLegibility; 


}

a{
text-decoration:none;
color:#666;


}
a:hover{
color:#222;

}



h1,h2,h3,h4,h5,h6 {
margin-bottom:20px;
color:#222;
font-weight:400;
line-height:20px;
text-transform:uppercase;

}


h1 {
font-size:80px;


}

h2 {
font-size: 34px;
}
h3 {
font-size:26px;
}
h4 {
font-size:26px;
}
h5 {
font-size:26px;
margin-bottom:0px;

}
h6 {
font-size:20px;
margin-bottom:0px;
}



.center {
text-align:center
}
.visible {
display:block;
}
.hidden {
display:none;
}
.invisible {
visibility:hidden
}
.alignleft {
float:left
}
.alignright {
float:right
}
.aligncenter {
margin-left:auto;
margin-right:auto
}
.clearboth {
clear:both;
display:block;
font-size:0;
height:0;
line-height:0;
width:100%;
overflow:hidden
}

.clearfix:after {
clear: both;
content: "";
display: block;
height: 0;
line-height:0;
visibility: hidden;
}

img.scale_with_grid {
width: 100%;
height: auto; 
display:block;
}





/* Buttons */
button, .button, #commentform #submit{

display:inline-block;
font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
font-size:12px;
font-weight:700;
color:#fff;
cursor:pointer;

background: #222; /* Old browsers */



padding:5px 12px;



border:1px solid #333;
border-bottom:none;



-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px; 

position:relative;

-webkit-transition:none; -moz-transition:none; -o-transition:none; transition:none;

-webkit-box-shadow: 0px 2px 0px 0px #322620, 0px 5px 5px #999; 
-moz-box-shadow: 0px 2px 0px 0px #322620, 0px 5px 5px #999; 
box-shadow: 0px 2px 0px 0px #322620, 0px 5px 5px #999; 


}
.button:hover, #commentform #submit:hover {

background:#666;
color:#ffffff;




}
.button:active, #commentform #submit:active {
top:1px;
}

.button.current{
color:#222;

background: #fff; /* Old browsers */
border:1px solid #efefef;
-webkit-box-shadow: 0px 2px 0px 0px #bbb, 0px 5px 5px #999;
-moz-box-shadow: 0px 2px 0px 0px #bbb, 0px 5px 5px #999;
box-shadow: 0px 2px 0px 0px #bbb, 0px 5px 5px #999; 


}






/* Forms */

textarea,input[type=text],input[type=password],input[type=email] {

background:#cecece;
border:none;
font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
padding:8px;

font-size:13px;

color:#777;

-webkit-transition:background-color 0.2s ease-in; -moz-transition:background-color 0.2s ease-in; -o-transition:background-color 0.2s ease-in; transition:background-color 0.2s ease-in;

-webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.2); 


}

textarea:hover,input:hover,textarea:focus,input:focus {

background:#b5b4b4;



}

input,select {
cursor:pointer;
}
input[type=text],input[type=password],input[type=email] {
cursor:text;
}
textarea {
overflow:auto;
}
textarea,input {
outline:none;
}
select {
padding:2px;
border:none;
}
option {
padding:2px;

}
input[type=button],button {
padding:4px;
cursor:pointer;
vertical-align:middle;
}


input.invalid, textarea.invalid{

background-color:#ffdddd !important;

}

/* Columns */
.one_half,.one_third,.two_third,.two_fourth,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth {
position:relative;
margin-right:4%;
float:left;
}
.one_half {
width:48%
}
.one_third {
width:30.6666%
}
.two_third {
width:65.3332%
}
.one_fourth {
width:22%;
}
.two_fourth {
width:48%
}
.three_fourth {
width:74%
}
.one_fifth {
width:16.8%
}
.two_fifth {
width:37.6%
}
.three_fifth {
width:58.4%
}
.four_fifth {
width:79.2%
}
.one_sixth {
width:13.3333%
}
.two_sixth {
width:30.6666%
}
.three_sixth {
width:47.9998%
}
.four_sixth {
width:65.3332%
}
.five_sixth {
width:82.6665%
}
.last {
margin-right:0 !important;
clear: right;
}




/* alert boxes */
.success{

background:#8af34b;
padding:5px 8px;
-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.2); 

}



#supersized-loader { position:absolute; top:50%; left:50%; z-index:0; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background:url(../img/progress.gif) no-repeat center center;}

#supersized {  display:block; position:fixed; left:0; top:0; overflow:hidden; z-index:-999; height:100%; width:100%; }
#supersized img { width:auto; height:auto; position:relative; display:none; outline:none; border:none; }
#supersized.speed img { -ms-interpolation-mode:nearest-neighbor; image-rendering: -moz-crisp-edges; }	/*Speed*/
#supersized.quality img { -ms-interpolation-mode:bicubic; image-rendering: optimizeQuality; }			/*Quality*/

#supersized li { display:block; list-style:none; z-index:-30; position:fixed; overflow:hidden; top:0; left:0; width:100%; height:100%; background:#111; }
#supersized a { width:100%; height:100%; display:block; }
#supersized li.prevslide { z-index:-20; }
#supersized li.activeslide { z-index:-10; }
#supersized li.image-loading { background:#111 url(../img/progress.gif) no-repeat center center; width:100%; height:100%; }
#supersized li.image-loading img{ visibility:hidden; }
#supersized li.prevslide img, #supersized li.activeslide img{ display:inline; }

#main_overlay{

position:fixed;
background:#dcdcdc;
width:100%;
height:100%;
opacity:0.9;
z-index:-5;
right:0;


}

body.body-closed #main_overlay{

display:none;

}

#prevslide{

position:fixed;
left:0;
top:50%;
margin-top:-25px;
width:50px;
height:50px;
background:rgba(0,0,0,0.5) url(../img/dark/left.png) no-repeat 24px 22px;
display:block;
z-index:999;
-webkit-transition:all 0.2s ease-in; -moz-transition:all 0.2s ease-in; -o-transition:all 0.2s ease-in; transition:all 0.2s ease-in;
cursor:pointer;
left:-50px;

}

#prevslide:hover{

background-color:rgba(0,0,0,0.8);
width:60px;

}

#nextslide{

position:fixed;
right:0;
top:50%;
margin-top:-25px;
width:50px;
height:50px;
background:rgba(0,0,0,0.5) url(../img/dark/right.png) no-repeat 24px 22px;
display:block;
z-index:999;
-webkit-transition:all 0.2s ease-in; -moz-transition:all 0.2s ease-in; -o-transition:all 0.2s ease-in; transition:all 0.2s ease-in;
cursor:pointer;
right:-50px;


}

#nextslide:hover{

background-color:rgba(0,0,0,0.8);
width:60px;

}

body.body-closed #prevslide{

left:0;

}

body.body-closed #nextslide{

right:0;

}


/* header */			
header{



position:fixed;
width:210px;
z-index:200;

background:#fff;

margin-left:20px;

-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
-moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07); 






}

header #open_btn{

font-family: 'Droid Serif', serif;
font-style:italic;

background:#f4f4f4;
width:50px;
height:50px;
line-height:50px;


margin-left:-25px;

left:50%;

-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px; 

color:#bbb;
font-size:14px;
text-align:center;
padding:0px;

cursor:pointer;

position:absolute;
bottom:-25px;
display:inline-block;

-webkit-box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.1); 

-webkit-transition:all 0.2s ease-in; -moz-transition:all 0.2s ease-in; -o-transition:all 0.2s ease-in; transition:all 0.2s ease-in;




overflow:hidden;
z-index:0;
display:none;

}

header #open_btn:hover{

color:#222;
background-color:#fff;
bottom:-30px;


}

body.body-closed header #open_btn{

display:inline-block;

}

header #close_btn{

font-family: 'Droid Serif', serif;
font-style:italic;

background:#f4f4f4;
width:50px;
height:50px;
line-height:50px;


margin-left:-25px;

left:50%;

-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px; 

color:#bbb;
font-size:14px;
text-align:center;
padding:0px;

cursor:pointer;

position:absolute;

display:inline-block;

-webkit-box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.1); 

-webkit-transition:all 0.2s ease-in; -moz-transition:all 0.2s ease-in; -o-transition:all 0.2s ease-in; transition:all 0.2s ease-in;




overflow:hidden;
z-index:0;

top:-15px;

}

header #close_btn:hover{

color:#222;
background-color:#fff;
top:-10px;



}

body.body-closed header #close_btn{

top:-50px;

}



header #logo{



height:160px;



}

header #logo img{

position:absolute;

}

header #searchform input{


width:140px;
margin-left:25px;
margin-bottom:30px;


}

body.body-closed header #searchform input{

display:none;

}

header #nav{

margin-top:0px;



margin-bottom:30px;

padding:10px 0px;


border-top:1px solid #ebebeb;
border-bottom:1px solid #ebebeb;





}

body.body-closed header #nav{

display:none;

}

#nav > li {


position:relative;

}



#nav > li > a{



font-size:25px;

color:#7c7b7b;

margin-right:20px;
padding:5px 20px;

cursor:pointer;


display:block;
text-transform:uppercase;

}

#nav > li > a:hover{

background:none;
color:#222;

}

#nav > li > a.nav-plus{

background:url(../img/nav-plus.png) no-repeat right center;

}

#nav > li > a.nav-minus{

background:url(../img/nav-minus.png) no-repeat right center;

}

#nav .sub-menu{

display:none;
background:#ebebeb;
padding:10px 20px;

}

#nav .sub-menu a{

color:#7c7b7b;
font-size:20px;
display:block;

}

#nav .sub-menu a:hover{

background:none;
color:#333;

}


#main_body_wrap{

position:relative;

margin-left:250px;




}

body.body-closed #main_body_wrap{

z-index:-9999;
opacity:0;

}

#entry_list{


margin-top:161px;

position:absolute;
width:80000px;



}

#entry_list li#first_entry{


float:left;
position:relative;
-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
-moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07); 
margin-right:30px;
background:#fff;

padding:20px;
width:300px;
}

#entry_list li#first_entry h2{




margin:0;


}

#entry_list li#first_entry h2 span{

display:block;
color:#7C7B7B;

}

#entry_list li#first_entry #triangle{

width: 0;
height: 0;
border-top: 14px solid transparent;
border-bottom: 14px solid transparent;



border-left: 14px solid #fff;

position:absolute;
right:-14px;
top:50%;
margin-top:-14px;

}

#entry_list li.entry_item{

float:left;


position:relative;


-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
-moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07); 

margin-right:30px;

overflow:hidden;

}



#entry_list li.more-posts{


width:60px;
background:#fff url(../img/more.png) no-repeat center center;
height:400px;
cursor:pointer;
float:left;
position:relative;
-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
-moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07); 
margin-right:40px;


}

#entry_list li.more-posts.loading{

background:#fff url(../img/loading.gif) no-repeat center center;

}

.entry_item h2{

font-size:60px;




line-height:40px;



color:#222;


}

.entry_item .blog_date{

float:left;
width:60px;
background:#fff;
height:380px;
text-align:center;
padding-top:20px;
font-size:30px;
border-right:1px solid #ebebeb;
text-transform:uppercase;



}

.entry_item .blog_date a{


color:#222;


}


.entry_item .blog_date span{

display:inline-block;
font-size:46px;
margin-bottom:-5px;



}

.entry_item .grid_details{

float:left;
padding:20px;

background:#fff;

height:360px;

width:300px;


}



.meta_wrap{

border-top:1px solid #ebebeb;
overflow:hidden;
padding-top:15px;
font-size:11px;


}

body.single-post .meta_wrap{

padding:15px 25px 15px 25px;


}

body.single-portfolio .meta_wrap{

margin-bottom:30px;
margin-top:-10px;


}

.meta_wrap a{

color:#999;
cursor:pointer;
-webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -o-transition:all 0.3s ease-in; transition:all 0.3s ease-in;




}

.meta_wrap a:hover{

color:#222;


}

.meta_wrap .entry_likes a{

float:left;
background:url(../img/like.png) no-repeat 0 5px;
margin-right:20px;
padding-left:18px;



}

.meta_wrap .entry_likes a.voted{

background:url(../img/voted.png) no-repeat 0 5px;
color:#db2001;




}

.meta_wrap .entry_comments a{

float:left;
background:url(../img/comments.png) no-repeat 0 5px;
margin-right:20px;
padding-left:18px;


}

.meta_wrap .read-more{

float:right;


}

.meta_wrap .entry_categories{


float:left;
background:url(../img/categories.png) no-repeat 0 4px;
margin-right:20px;
padding-left:18px;


}

.meta_wrap .entry_categories li{

float:left;
margin-right:10px;

}


.entry_item #entry_details_wrap{

float:left;
padding:0px;


background:#fff;

height:360px;

width:800px;


}



.entry_item #entry_details{


clear:both;


background:#fff;





}
.entry_item #entry_details .column{

margin:0;
padding:0;

}

.entry_item #entry_details .column > div{

padding:20px 20px;

}

.entry_item #entry_details > :nth-child(even){

background-color:#ebebeb;

}

.post_format_wrap{

overflow:hidden;
position:relative;
width:100%;


}

body.horizontal-page .post_format_wrap{

float:left;
position:relative;
height:400px;
overflow:hidden;
width:auto;

}



.post_format_wrap img{


display:block;


}

.post_format_wrap iframe{


display:block;

}

body.horizontal-page .post_format_wrap.video_format{

width:711px;

}

.hover_overlay{

background:rgba(0,0,0,0.6) url(../img/plus.png) center center no-repeat;
position:absolute;
width:100%;
height:100%;
z-index:10;
opacity:0;
left:0px;
top:0px;
-webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -o-transition:all 0.3s ease-in; transition:all 0.3s ease-in;


}

a:hover .hover_overlay{

opacity:0.9;


}


/* booklet */
.post_format_wrap.booklet_wrap{

overflow:visible;
width:640px !important;

}

.booklet_arrows{


position:absolute;
bottom:0;
left:50%;
margin-left:-30px;
width:60px;
height:30px;
z-index:100;


}

.booklet_arrows a{

float:left;

width:30px;
height:30px;
cursor:pointer;

}

.booklet_arrows a.prev{


background:#dedede url(../img/booklet-arrows.png) no-repeat 0 0px;


}

.booklet_arrows a.next{


background:#dedede url(../img/booklet-arrows.png) no-repeat -30px 0px;


}

.booklet_arrows a:hover{

background-color:#fff;

}


.post_format_wrap .b-load .booklet_padding{

padding:20px;


}

.booklet{

margin:0 !important;

}


.post_format_wrap blockquote{

background:#222 url(../img/quotes.png) no-repeat 20px 25px;
width:560px;
font-weight:700;
font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
color:#fff;
font-size:26px;
padding:20px 20px 30px 60px;
line-height:30px;




}

body.horizontal-page .post_format_wrap blockquote{

width:360px;
height:400px;

}


/* slides-js
*********************************/ 
.slider_wrap{

position:relative;

}

.slides_container {

	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/
.slides_container div {

	
	display:block;
}

.slider_wrap .slides-pagination{

position:absolute;
bottom:14px;
right:20px;
z-index:100;


}





.slider_wrap .slides-pagination li a{

float:left;
width:10px;
height:10px;
text-indent:-999px;
overflow:hidden;

background:url(../img/bullets.png) 0 10px;
margin-bottom:6px;
cursor:pointer;
border:none;

}


.slider_wrap .slides-pagination li.current a{


background:url(../img/bullets.png) 0 0;


}

#pagination_wrap{


position:fixed;
top:580px;
left:250px;


}

#pagination_wrap a{

float:left;
margin-right:10px;
font-size:18px;

}



/* single.php */ 
#page_content_wrap{

background:#fff;
width:640px;
position:relative;
top:20px;
overflow:hidden;

-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
-moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07); 

margin-bottom:100px;



}

#page_content_wrap > h1{

padding:25px;
padding-bottom:15px;
margin:0;

}

body.single-portfolio h1{

font-size:60px;

}

#content_wrap{

padding:25px 25px;
background:#ebebeb;



}



#primary{

float:left;


width:340px;


padding-right:30px;


}

#secondary{

float:right;

width:220px;


}

body.full-width #primary{

width:auto;
float:none;
padding:0;

}

body.full-width #secondary{

display:none;
float:none;

}

footer{

overflow:hidden;
padding:40px 25px;



}


/* TipTip CSS - Version 1.2 */

#tiptip_holder {
display: none;
position: absolute;
top: 0;
left: 0;
z-index: 99999;
}

#tiptip_holder.tip_top {
padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
padding-top: 5px;
}

#tiptip_holder.tip_right {
padding-left: 5px;
}

#tiptip_holder.tip_left {
padding-right: 5px;
}

#tiptip_content {
font-size: 11px;
color: #fff;
text-shadow: 0 0 2px #000;
padding: 5px 9px;
background-color: #222;
font-weight:700;


}

#tiptip_arrow, #tiptip_arrow_inner {
position: absolute;
border-color: transparent;
border-style: solid;
border-width: 6px;
height: 0;
width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
border-top-color: #fff;
border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
border-bottom-color: #fff;
border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
border-right-color: #fff;
border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
border-left-color: #fff;
border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
margin-top: -7px;
margin-left: -6px;
border-top-color: rgb(25,25,25);
border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
margin-top: -5px;
margin-left: -6px;
border-bottom-color: rgb(25,25,25);
border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
margin-top: -6px;
margin-left: -5px;
border-right-color: rgb(25,25,25);
border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
margin-top: -6px;
margin-left: -7px;
border-left-color: rgb(25,25,25);
border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
#tiptip_content {
padding: 4px 8px 5px 8px;

}
#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
border-bottom-color: rgba(45,45,45,0.88);
}
#tiptip_holder.tip_top #tiptip_arrow_inner { 
border-top-color: rgba(20,20,20,0.92);
}
}
/* WIDGETS */




.widget {
margin-bottom:40px;
}

.widget_title{


color:#222;


}

footer .widget_title{

color:#222;



}



.widget a:hover{


color:#999;


}



.widget_archive li,.widget_categories li,.widget_subnav li,.widget_nav_menu li,.widget_links li,.widget_meta li,.widget_pages li {
position:relative;


padding: 5px 0;
border-bottom:1px solid #ddd;

}
.widget_archive li a,.widget_categories li a,.widget_subnav li a,.widget_nav_menu li a,.widget_links li a,.widget_meta li a,.widget_pages li a {

line-height:20px;




}



.widget ul li ul {
margin-left:20px;
}
.widget ul li ul li:last-child {
border: none !important;
}
/* Calendar Widget */
.widget_calendar #wp-calendar {


text-align: center;
border-top:1px solid #373737;


}

.widget_calendar #wp-calendar caption {

font-size:14px;
font-weight:400;
color:#333;

height:32px;
line-height:32px;
background:#fff;


}

.widget_calendar #wp-calendar thead {

height:19px;
line-height:19px;
background:#fff;
font-size:10px;
color:#666;
border-bottom:2px solid #bbb;
border-left:1px solid #f9f9f9;
border-right:1px solid #f9f9f9;
border-top:1px solid #f9f9f9;
}

.widget_calendar #wp-calendar tbody tr {

background: rgb(237,237,237); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(237,237,237,1) 0%, rgba(222,222,222,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(222,222,222,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(237,237,237,1) 0%,rgba(222,222,222,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 ); /* IE6-9 */

}

.widget_calendar #wp-calendar tbody td {

height:29px;
line-height:29px;
width:29px;


font-size:12px;
font-weight:700;
color:#666;

}

.widget_calendar #wp-calendar tbody td a{

background-color:#65a9ba;
width:100%;
height:100%;
display:block;
color:#e0e0e0;
border:none;
-webkit-transition:background-color 0.2s ease-in; -moz-transition:background-color 0.2s ease-in; -o-transition:background-color 0.2s ease-in; transition:background-color 0.2s ease-in;

}

.widget_calendar #wp-calendar tbody td a:hover{

background-color:#55838f;

}

.widget_calendar #wp-calendar tbody td.pad {

background: rgb(245,245,245); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(236,236,236,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(236,236,236,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(236,236,236,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(236,236,236,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */


}

.widget_calendar #wp-calendar tfoot {

background:#fff;
height:32px;
line-height:32px;

}




/* Recent Posts,Popular Posts,Related Posts */
.posts p {
margin:0;
}
.posts li {
padding-bottom:10px;
margin-bottom:10px;
position:relative;
border-bottom:1px solid #ddd;
}

.posts li:last-child {

border:none;
padding-bottom:0px;
margin-bottom:0px;

}

.posts .post_thumbnail {


float:left;

}

.posts .post_thumbnail img{

border:1px solid #efefef;
padding:3px;
background:#fff;
display:block;

-webkit-transition:all 0.2s ease-in; -moz-transition:all 0.2s ease-in; -o-transition:all 0.2s ease-in; transition:all 0.2s ease-in;
}

.posts .post_thumbnail img:hover{

background:#efefef;

}

footer .posts .post_thumbnail img{


background:#222;
}

footer .posts .post_thumbnail img:hover{

background:#999;

}

.posts .post_description {

padding-left:60px;

}

.posts .post_description a {

font-weight:700;
font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
display:block;

}

.posts .post_excerpt {

margin-top:5px;

}

/* Portfolio Widget */
.widget_portfolio ul li {

float:left;
margin:0 10px 10px 0;

}

.widget_portfolio ul li img{

border:1px solid #e4e4e4;
padding:3px;
background:#fff;
height:40px;
width:40px;
display:block;

-webkit-transition:all 0.2s ease-in; -moz-transition:all 0.2s ease-in; -o-transition:all 0.2s ease-in; transition:all 0.2s ease-in;

}

.widget_portfolio ul li img:hover{

background:#efefef;

}

footer .widget_portfolio ul li img{


background:#222;

}

footer  .widget_portfolio ul li img:hover{

background:#999;

}


/* Flickr Widget */
.flickr_wrap {
position:relative;
margin-right:-12px;
}


.flickr_wrap img {

height:40px;
width:40px;
display: block;
float:left;
margin:0 12px 12px 0;

border:1px solid #efefef;
padding:3px;
background:#fff;

-webkit-transition:all 0.2s ease-in; -moz-transition:all 0.2s ease-in; -o-transition:all 0.2s ease-in; transition:all 0.2s ease-in;

}

.flickr_wrap img:hover {

background:#efefef;

}

footer .flickr_wrap img {

background:#222;


}

footer .flickr_wrap img:hover {

background:#999;

}

/* Twitter Widget*/
.tweet_list li {

padding-bottom:10px;
margin-bottom:10px;
border-bottom:1px solid #ddd;

}

.tweet_list li:last-child {

border:none;
padding-bottom:0px;
margin-bottom:0px;

}

.tweet_list .tweet_time {


display:block;
}

.tweet_list .tweet_time a{

border:none;
color:#222;
font-weight:700;


}



/* Search Widget */
#searchform input {

width:80px;

height:13px;
}
#searchform button {

-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;

}

/* Recent Comments Widget */


.widget_recent_comments li {

margin-bottom:5px;
}

/* Tags Widget*/
.widget_tag_cloud {
overflow:hidden;

}
.widget_tag_cloud a {

font-size:12px !important;
float:left;
margin:0 8px 8px 0;
font-weight:700;

display:inline-block;

}

.widget_tag_cloud a:hover  .tag_name{

background:#fff;

}

.widget_tag_cloud a{

float:left;

height:22px;
line-height:22px;
background: #f8f8f8; /* Old browsers */
background: -moz-linear-gradient(top,  #f8f8f8 0%, #f0f0f0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f8f8f8 0%,#f0f0f0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f8f8f8 0%,#f0f0f0 100%); /* IE10+ */
background: linear-gradient(top,  #f8f8f8 0%,#f0f0f0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
color:#3f3f3f;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 3px;
-webkit-border-radius: 3px 0px 0px 3px;
border-radius: 3px 0px 0px 3px; 
padding:0 7px;
text-shadow: 0px 1px 1px #ffffff;
filter: dropshadow(color=#ffffff, offx=0, offy=1); 

}






/* wordpress required classes */

.wp-caption{
}
.wp-caption-text {
}
.sticky {
}
.gallery-caption {
}
.bypostauthor {
}

/* subfooter */
#subfooter_wrap{

position:fixed;
bottom:0px;
left:0px;
background:#fff;
width:100%;
height:42px;
line-height:42px;

-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
-moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07);
box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.07); 


z-index:999;


}

#subfooter_wrap #footer_nav{

overflow:hidden;
margin-left:20px;

}

#subfooter_wrap #footer_nav li{

float:left;


}

#subfooter_wrap #footer_nav li a{

font-size:15px;

height:42px;
line-height:42px;
display:inline-block;
padding:0 12px;

}

#subfooter_wrap #footer_nav li a:hover{

background:#ebebeb;

}

#subfooter_wrap .alignright{

float:none;
position:absolute;
right:0;
margin-right:20px;
}

#subfooter_wrap #social_icons{

overflow:hidden;
float:left;
margin-left:20px;


margin-top:11px;
}

#subfooter_wrap #social_icons li{

display:block;
float:left;
margin-right:10px;
position:relative;
width:20px;
height:20px;
overflow:hidden;

}

#subfooter_wrap #social_icons li img.grayscale{

position:absolute;
top:0;
left:0;
-webkit-transition:all 0.2s ease-in; -moz-transition:all 0.2s ease-in; -o-transition:all 0.2s ease-in; transition:all 0.2s ease-in;


}

#subfooter_wrap #social_icons li img.active{

position:absolute;
top:-20px;
left:0;
-webkit-transition:all 0.2s ease-in; -moz-transition:all 0.2s ease-in; -o-transition:all 0.2s ease-in; transition:all 0.2s ease-in;




}

#subfooter_wrap #social_icons li:hover img.grayscale{

top:20px;

}

#subfooter_wrap #social_icons li:hover img.active{

top:0px;

}

#subfooter_wrap #copyright{

display:inline;
float:left;
font-size:15px;


}

/* comments */

#comments{

margin-top:30px;

}


.commentlist .comment article{


background:#fff;

border:1px solid #ececec;
padding:30px 0px;

position:relative;
margin-bottom:25px;

-webkit-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05); 

}

.commentlist .comment .avatar{

padding:3px;
background:#fff;
border:1px solid #dad8c9;

-webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05); 

margin-left:30px;
float:left;
}

.commentlist .comment-content{

padding-left:100px;
padding-right:30px;
color:#888;




}

.commentlist .comment .children{

margin-left:60px;

}

.commentlist .comment-meta{

margin-left:100px;

font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
color:#222;

}


.commentlist .comment-meta .fn{

color:#222;
font-weight:700;
margin-right:10px;

}

.commentlist .comment-meta a{

border:none;
color:#666;


}

.commentlist .comment-meta a:hover{

background:none;
color:#222;

}

.commentlist .comment .shadow, #page_content_container .shadow{

width:686px;
height:11px;
background:url(../img/bottom_page.png) no-repeat;
bottom:-11px;
left:0;
position:absolute;

}

#comment-nav-below{

margin-bottom:20px;

}

#comments-title{


}

#reply-title{

cursor:pointer;



}



#reply-title span{

position:absolute;
width:20px;
height:20px;
line-height:20px;
color:#fff;
text-align:center;
margin-left:10px;

background:rgba(0,0,0,0.2);

-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px; 
-webkit-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.1);
box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.1); 


}



#commentform .required{

display:none;

}

#commentform #author, #commentform #email, #commentform textarea#comment{

background-image:url(../img/required.png);
background-repeat:no-repeat;
background-position:right 3px;

}

#respond label{

display:inline-block;
padding-top:6px;
padding-left:10px;
font-size:12px;
font-weight:700;


}

#respond input, #respond textarea{

float:left;




}

#respond .comment-form-comment label{

display:none;

}

#respond textarea{

margin-bottom:20px;
height:100px;
}

#respond #submit{

clear:both;
float:none;
display:block !important;


}

#respond .form-allowed-tags{

display:none;

}

/* shortcodes */

#the_content img{

padding:5px;
background:#fff;

-webkit-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05); 

margin-bottom:20px;

}

#the_content img.alignleft{

margin:0 20px 20px 0;

}

#the_content img.alignright{

margin:0 0px 20px 20px;

}



.video_wrap{

padding:5px;
background:#fff;

-webkit-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05); 

margin-bottom:20px;

}

.video_wrap iframe{

display:block;
width:330px;
height:185px;

}

body.full-width .video_wrap iframe{

display:block;
width:580px;
height:326px;

}





.contact_form input {
width:60%;
margin-bottom:15px;
}
.contact_form textarea {
width:90%;
height:100px;
margin-bottom:15px;
}






/*  tabs */
ul.tabs {
display: block;
margin: 0 !important;
padding: 0;



 }
ul.tabs li {
display: block;
width: auto;

padding: 0;
float: left;
margin-bottom: 0; }
ul.tabs li a {
display: block;
text-decoration: none;
width: auto;
height: 30px;
padding: 0px 14px !important;
line-height: 30px;
color:#777;
border:none;

border:1px solid #dfdfdf;
border-bottom:none;
position:relative;
top:1px;
margin: 0;
background: transparent;



 }
ul.tabs li a.active {
background: #fff;




color: #555;
}


ul.tabs-content { margin: 0; display: block; padding:12px 14px; margin-bottom:30px !important; background:#fff; 

-webkit-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05); 

color:#777;
border:1px solid #dfdfdf;
}
ul.tabs-content > li { display:none; }
ul.tabs-content > li.active { display: block; }

/* Clearfixing tabs for beautiful stacking */
ul.tabs:before,
ul.tabs:after {
content: '\0020';
display: block;
overflow: hidden;
visibility: hidden;
width: 0;
height: 0; }
ul.tabs:after {
clear: both; }
ul.tabs {
zoom: 1; }

/* Blockquotes */
blockquote{

color:#444;
font-weight:700;
font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
font-size:18px;
background:transparent url(../img/quotes_content.png) no-repeat 0 5px;
padding-left:25px;




}

blockquote p{

line-height:22px;

}

/* dropcap */
.dropcap{

float:left;
text-align:center;
font-size:50px;
width:53px;
color:#222;
font-weight:700;


}


/* lists */
ul.list1,ul.list2,ul.list3 {

margin-bottom:20px;
}
ul.list1 li,ul.list2 li,ul.list3 li{

padding-left:20px;
margin-bottom:20px;
}

ul.list1 li{

background:url(../img/list_1.png) no-repeat 0 3px;

}

ul.list2 li{

background:url(../img/list_2.png) no-repeat 0 3px;

}

ul.list3 li{

background:url(../img/list_3.png) no-repeat 0 3px;

}

/* Highlight */
.highlight {
color:#ffffff;
padding:0 2px;
background:#000000;
}
.highlight.black {
background:#000000;
}
.highlight.red {
background:#f32c27;
}
.highlight.gray {
background:#999999;
}
.highlight.yellow {
background:#ffde42;
}
.highlight.blue {
background:#31b2ed;
}
.highlight.pink {
background:#f930c3;
}
.highlight.green {
background:#55dd2c;
}
.highlight.orange {
background:#f09523;
}
.highlight.magenta {
background: #9a2bf1;
}

/* gallery shortcode */

.gallery_list{

overflow:hidden;
margin-right:-20px;

}

.gallery_list li{

float:left;
margin-right:20px;
margin-bottom:20px;
position:relative;
display:block;

}

.gallery_list li img{

margin:0 !important;
display:block;

}



/* lightbox */

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0; position:absolute; font-size:40px; padding:10px 10px;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
    #cboxContent{margin-top:32px; overflow:visible; padding:5px; background:#fff;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; }
        #cboxLoadedContent{background:#fff;}
        #cboxLoadingGraphic{background:url(../img/loading.gif) no-repeat center center;}
        #cboxLoadingOverlay{background:#fff;}
        #cboxTitle{position:absolute; left:0; color:#222; background:#fff; width:100%;
		
		
		bottom:0px;
		font-size:40px;
		
		
		}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}
        #cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px;}
        #cboxPrevious{
		
		top:50%;
		
		left:0;
		
		margin-top:-15px;
		width:29px;
		height:29px;
		
		background:#fff url(../img/fancybox/left.png) no-repeat center center;
		
		}
        #cboxPrevious:hover{}
        #cboxNext{
		
		top:50%;
		
		right:0;
		
		margin-top:-15px;
		width:29px;
		height:29px;
		
		background:#fff url(../img/fancybox/right.png) no-repeat center center;
		
		}
        #cboxNext:hover{}
        #cboxClose{
		
		top:0px;
		right:0;
		
		width:30px;
		height:30px;
		
		background:#fff url(../img/fancybox/close.png) no-repeat center center;
		
		}
        #cboxClose:hover{}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}
		
/* @Booklet
----------------------------------------*/
	.booklet           {width:800px; height:600px; position:relative; /*background:#fff;*/ margin:0 auto 10px; overflow:visible !important;}
	.booklet .b-page  {left:0; top:0; position:absolute; overflow:hidden; padding:0;}
	
	.booklet .b-pN  {}
	.booklet .b-p0  {}
	.booklet .b-p1  {}
	.booklet .b-p2  {}    
	.booklet .b-p3  {}
	.booklet .b-p4  {}
	
	.booklet .b-load  {}
   
   	/* Page Wrappers */
	.booklet .b-wrap       {top:0; position:absolute;}
	.booklet .b-wrap-left  {background:#fff;}
	.booklet .b-wrap-right {background:#efefef;}
	
	.booklet .b-pN .b-wrap,
	.booklet .b-p1 .b-wrap,
	.booklet .b-p2 .b-wrap,
	.booklet .b-p3 .b-wrap,
	.booklet .b-p4 .b-wrap  {left:0;}
	.booklet .b-p0 .b-wrap  {right:0;}
	
   	/* Custom Page Types */
	.booklet .b-page-blank  {padding:0; width:100%; height:100%;}
	.booklet .b-page-cover  {padding:0; width:100%; height:100%; background:#925C0E;}
	.booklet .b-page-cover h3  {color:#fff; text-shadow:0px 1px 3px #222;}
   
   	/* Page Numbers */
	.booklet .b-counter {bottom:10px; position:absolute; display:block; width:25px; height:20px; background:#fff; color:#444; text-align:center; font-family:Georgia, "Times New Roman", Times, serif; font-size:10px; padding:5px 0 0;}
	.booklet .b-wrap-left  .b-counter  {left:10px;}
	.booklet .b-wrap-right .b-counter {right:10px;}
   
   	/* Page Shadows */
	.booklet .b-shadow-f  {right:0; top:0; position:absolute; opacity:0; background-image:url("../img/booklet/shadow-top-forward.png"); background-repeat:repeat-y; background-position:100% 0;}
	.booklet .b-shadow-b  {left:0;  top:0; position:absolute; opacity:0; background-image:url("../img/booklet/shadow-top-back.png");    background-repeat:repeat-y; background-position:0 0;}
	
	.booklet .b-p0 {background-image:url("../img/booklet/shadow.png"); background-repeat:repeat-y; background-position:100% 10px;}
	.booklet .b-p3 {background-image:url("../img/booklet/shadow.png"); background-repeat:repeat-y; background-position:0 10px;}
	
   	/* Overlay Controls */
	.booklet .b-grab     {cursor: url(../img/booklet/openhand.cur), default;}
	.booklet .b-grabbing {cursor: url(../img/booklet/closedhand.cur), default;}
	
   	/* Overlay Controls */
	.booklet .b-overlay      {top:0; position:absolute; height:100%; width:50%;}
	.booklet .b-overlay-prev {left:0;}
	.booklet .b-overlay-next {right:0;}
	
   	/* Tab Controls */
	.booklet .b-tab        {background:#000; height:40px; width:100%; padding:10px 0 0; text-align:center; color:#ccc; position:absolute; font-size:11px;}
	.booklet .b-tab-prev   {left:0;}
	.booklet .b-tab-next   {right:0;}
	.booklet .b-tab:hover  {background:#aaa; color:#000;}	
	
   	/* Arrow Controls */
	.booklet .b-arrow          {display:block; position:absolute; text-indent:-9999px; top:0; height:100%; width:74px;}
	.booklet .b-arrow div      {display:none; text-indent:-9999px; height:170px; width:74px; position:absolute; left:0; top:25%;}
	.booklet .b-arrow-next     {right:-80px;}
	.booklet .b-arrow-prev     {left:-80px;}
	.booklet .b-arrow-next div {background:url("../img/booklet/arrow-next.png") no-repeat left top;}
	.booklet .b-arrow-prev div {background:url("../img/booklet/arrow-prev.png") no-repeat left top;}
		
/* @z-index fix (needed for older IE browsers)
----------------------------------------*/
	body              {z-index:0;}
    .b-menu           {z-index:100;}
    .b-selector       {z-index:100;}
	.booklet          {z-index:10;}
    .b-pN             {z-index:10;}
    .b-p0             {z-index:10;}
    .b-p1             {z-index:10;}
    .b-p2             {z-index:10;}
    .b-p3             {z-index:10;}
    .b-p4             {z-index:10;}
    .b-prev           {z-index:40;}
    .b-next           {z-index:40;}
    .b-counter        {z-index:40;}
	
/* @Menu Items
----------------------------------------*/
	.b-menu {height:40px; padding:0 0 10px;}
	
	.b-selector             {height:40px; position:relative; float:right; border:none; color:#cecece; cursor:pointer;}
	.b-selector .b-current  {padding:8px 15px 12px; line-height:20px; min-width:18px; height:20px; display:block; background:#000; text-align:center;}
	.b-selector-page        {width:auto; margin-left:15px;}
	.b-selector-chapter     {width:auto;}
	
	.b-selector:hover            {color:#fff; background-position:left 0px;}
	.b-selector:hover .b-current {background-position:right 0px;}
	.b-selector ul               {overflow:hidden; margin:0; list-style:none !important; position:absolute; top:40px; right:0; padding:0 0 10px; background:#000; width:240px; font:normal 12px "Myriad Pro", Myriad, "DejaVu Sans Condensed","Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;}
	.b-selector li               {border:none;}
	.b-selector a                {color:#cecece; height:14px; text-decoration:none; display:block; padding:5px 10px;}
	.b-selector a .b-text        {float:left; clear:none;}
	.b-selector a .b-num         {float:right; clear:none;}
	.b-selector a:hover          {color:#fff;}
		
